body {
  margin: 0;
  text-align: center;
font-family: Serif;
}

.top-bitcoin{
  height: 100px;
  width: 100px;
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-bitcoin{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 300px;
  top: 50px;
}

.top-container {
  background-color: #3C4048;
  position: relative;
  padding-top: 100px;
  color: white;
}

.chep {
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  margin: 10px auto;
}

h1 {
  color: #00ABB3;
}

h3 {
  color: black;
}



hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 10px;
  width: 5%;
}
